#bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.bubble {
  border-radius: 50%;
  background: #000;
  position: absolute;
}

.bubble:nth-child(1) {
  width: 34px;
  height: 34px;
  left: 77% !important;
  top: 50% !important;
  opacity: 0.83;
}

.bubble:nth-child(2) {
  width: 22px;
  height: 22px;
  left: 31% !important;
  top: 82% !important;
  opacity: 0.88;
}

.bubble:nth-child(3) {
  width: 65px;
  height: 65px;
  left: 11% !important;
  top: 59% !important;
  opacity: 0.81;
}

.bubble:nth-child(4) {
  width: 45px;
  height: 45px;
  left: 79% !important;
  top: 48% !important;
  opacity: 0.77;
}

.bubble:nth-child(5) {
  width: 29px;
  height: 29px;
  left: 59% !important;
  top: 25% !important;
  opacity: 0.78;
}

@media (max-width: 992px) {
  .bubble:nth-child(1) {
    width: 7vw;
    height: 7vw;
    left: 61% !important;
    top: 70% !important;
  }
  .bubble:nth-child(2) {
    width: 4vw;
    height: 4vw;
    left: 48% !important;
    top: 52% !important;
  }
  .bubble:nth-child(3) {
    width: 7vw;
    height: 7vw;
    left: 92% !important;
    top: 26% !important;
  }
  .bubble:nth-child(4) {
    width: 8vw;
    height: 8vw;
    left: 5% !important;
    top: 22% !important;
  }
  .bubble:nth-child(5) {
    width: 5vw;
    height: 5vw;
    left: 75% !important;
    top: 78% !important;
  }
}

@media (max-width: 640px) {
  .bubble:nth-child(1) {
    width: 9vw;
    height: 9vw;
  }
  .bubble:nth-child(2) {
    width: 7vw;
    height: 7vw;
  }
  .bubble:nth-child(3) {
    width: 7vw;
    height: 7vw;
  }
  .bubble:nth-child(4) {
    width: 8vw;
    height: 8vw;
  }
  .bubble:nth-child(5) {
    width: 6vw;
    height: 6vw;
  }
}
