#bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.bubble {
  border-radius: 50%;
  background: #000;
  position: absolute;
}

.bubble:nth-child(1) {
  width: 66px;
  height: 66px;
  left: 16% !important;
  top: 51% !important;
  opacity: 0.87;
}

.bubble:nth-child(2) {
  width: 41px;
  height: 41px;
  left: 89% !important;
  top: 42% !important;
  opacity: 0.78;
}

.bubble:nth-child(3) {
  width: 32px;
  height: 32px;
  left: 67% !important;
  top: 56% !important;
  opacity: 0.77;
}

.bubble:nth-child(4) {
  width: 55px;
  height: 55px;
  left: 32% !important;
  top: 69% !important;
  opacity: 0.88;
}

.bubble:nth-child(5) {
  width: 46px;
  height: 46px;
  left: 86% !important;
  top: 77% !important;
  opacity: 0.83;
}

@media (max-width: 992px) {
  .bubble:nth-child(1) {
    width: 8vw;
    height: 8vw;
    left: 23% !important;
    top: 38% !important;
  }
  .bubble:nth-child(2) {
    width: 8vw;
    height: 8vw;
    left: 64% !important;
    top: 69% !important;
  }
  .bubble:nth-child(3) {
    width: 8vw;
    height: 8vw;
    left: 89% !important;
    top: 73% !important;
  }
  .bubble:nth-child(4) {
    width: 8vw;
    height: 8vw;
    left: 77% !important;
    top: 54% !important;
  }
  .bubble:nth-child(5) {
    width: 6vw;
    height: 6vw;
    left: 22% !important;
    top: 77% !important;
  }
}

@media (max-width: 640px) {
  .bubble:nth-child(1) {
    width: 6vw;
    height: 6vw;
  }
  .bubble:nth-child(2) {
    width: 8vw;
    height: 8vw;
  }
  .bubble:nth-child(3) {
    width: 7vw;
    height: 7vw;
  }
  .bubble:nth-child(4) {
    width: 6vw;
    height: 6vw;
  }
  .bubble:nth-child(5) {
    width: 7vw;
    height: 7vw;
  }
}
