#bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.bubble {
  border-radius: 50%;
  background: #000;
  position: absolute;
}

.bubble:nth-child(1) {
  width: 31px;
  height: 31px;
  left: 44% !important;
  top: 74% !important;
  opacity: 0.8;
}

.bubble:nth-child(2) {
  width: 27px;
  height: 27px;
  left: 6% !important;
  top: 61% !important;
  opacity: 0.83;
}

.bubble:nth-child(3) {
  width: 69px;
  height: 69px;
  left: 42% !important;
  top: 20% !important;
  opacity: 0.8;
}

.bubble:nth-child(4) {
  width: 23px;
  height: 23px;
  left: 9% !important;
  top: 43% !important;
  opacity: 0.87;
}

.bubble:nth-child(5) {
  width: 38px;
  height: 38px;
  left: 41% !important;
  top: 42% !important;
  opacity: 0.86;
}

@media (max-width: 992px) {
  .bubble:nth-child(1) {
    width: 6vw;
    height: 6vw;
    left: 18% !important;
    top: 19% !important;
  }
  .bubble:nth-child(2) {
    width: 7vw;
    height: 7vw;
    left: 81% !important;
    top: 27% !important;
  }
  .bubble:nth-child(3) {
    width: 6vw;
    height: 6vw;
    left: 31% !important;
    top: 46% !important;
  }
  .bubble:nth-child(4) {
    width: 7vw;
    height: 7vw;
    left: 13% !important;
    top: 28% !important;
  }
  .bubble:nth-child(5) {
    width: 4vw;
    height: 4vw;
    left: 53% !important;
    top: 14% !important;
  }
}

@media (max-width: 640px) {
  .bubble:nth-child(1) {
    width: 6vw;
    height: 6vw;
  }
  .bubble:nth-child(2) {
    width: 6vw;
    height: 6vw;
  }
  .bubble:nth-child(3) {
    width: 7vw;
    height: 7vw;
  }
  .bubble:nth-child(4) {
    width: 10vw;
    height: 10vw;
  }
  .bubble:nth-child(5) {
    width: 5vw;
    height: 5vw;
  }
}
