@import "variable.scss";

#bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.bubble {
  border-radius: 50%;
  background: #000;
  position: absolute;

  @for $i from 1 through 5 {
    $size: (20 + random(45))*1px;
    $left: (5 + random(85))*1%;
    $top: (15 + random(70))*1%;
    $opacity: (75 + random(15))/100;

    &:nth-child(#{$i}) {
      width: $size;
      height: $size;
      left: $left !important;
      top: $top !important;
      opacity: $opacity;
    }
  }
}