@import "variable.scss";

#card {
  padding: 12px 12px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.card-frame {
  width: calc((100% - (24px * 3 + 12px * 2)) / 4);
  padding: 12px;
  margin: 0 12px 40px;
  background: $bg09;
  border: 2px solid $border-card;
  border-radius: 18px;
  overflow: hidden;

  &:hover {
    &[data-card=news] {
      .fa-link {
        color: $btn-1;
      }
    }

    &[data-card=event] {
      .fa-link {
        color: $btn-2;
      }
    }

    &[data-card=map] {
      .fa-link {
        color: $btn-3;
      }
    }

    &[data-card=game] {
      .fa-link {
        color: $btn-4;
      }
    }

    .card-img {
      opacity: 1;
      filter: contrast(1.2);
    }
  }
}

.card-img-frame {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: 18px;
  position: relative;
  display: block;
  overflow: hidden;

  .card-img {
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    transition: $trans-normal ease-in;
  }
}

.card-tag-frame {
  padding: 10px 2px 4px;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;

  .card-tag {
    padding: 4px 6px;
    border-radius: 23px;
    color: $bg;
    line-height: 1;
    cursor: default;

    &[data-cate=news] {
      background: $btn-1;
    }

    &[data-cate=event] {
      background: $btn-2;
    }

    &[data-cate=map] {
      background: $btn-3;
    }

    &[data-cate=game] {
      background: $btn-4;
    }
  }

  .card-company {
    margin: 0 0 0 6px;
    color: $grey-light;
  }

  .card-time {
    margin: 0 0 0 auto;
  }
}

.card-text-frame {
  padding: 0 2px 0 3px;
  text-align: justify;

  .card-title {
    padding: 4px 0 5px;
    font-size: 18px;
    font-weight: $fw-bold;
  }

  .fa-link {
    margin: 0 0 0 2px;
    color: $grey-light;
    transition: color $trans-text;
  }
}

@media (max-width:$table) {
  .card-frame {
    width: calc((100% - (24px * 2 + 12px * 2)) / 3);
  }
}

@media (max-width:$pad) {
  .card-frame {
    width: calc((100% - (24px * 1 + 12px * 2)) / 2);
  }
}

@media (max-width:$phone) {
  #card {
    padding: 0 12px;
  }

  .card-frame {
    width: 100%;
    margin: 12px 0 15px;
  }
}