@import "variable.scss";

#header {
  width: 100%;
  max-width: 1920px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $bg09;

  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.logo-frame {
  display: flex;
  align-items: center;

  #logo {
    width: 60px;
  }

  .logo-text {
    margin: 0 0 0 6px;
    font-size: clamp(18px, 3.5vw, 24px);
    font-weight: $fw-bold;
    letter-spacing: 1px;
    display: inline-block;
  }
}

.nav-frame {
  display: flex;

  .nav-item {
    font-size: clamp(16px, 3vw, 20px);
    font-weight: $fw-bold;
    margin: 0 16px;
  }
}

@media (max-width:$phone) {
  #header {
    padding: 8px 12px;
  }

  .logo-frame {

    #logo {
      width: 50px;
    }

    .logo-text {
      margin: 0 0 0 4px;
    }
  }

  .nav-frame {
    .nav-item {
      margin: 0 6px;

      &:nth-last-child(1) {
        margin: 0 0 0 6px;
      }
    }
  }
}