$bg:#F2F2F2;
$bg09:#F2F2F2E5;
$border-card:#000;

$btn-0:#79C362;
$btn-1:#00BFB2;
$btn-2:#006AD1;
$btn-3:#F79563;
$btn-4:#F25D5A;
$btnColorList: ($btn-0, $btn-1, $btn-2, $btn-3, $btn-4);

$fw-light:300;
$fw-regular:400;
$fw-bold:700;
$fw-bolder:900;

$trans-normal:0.3s;
$trans-text:0.25s;

$table:1200px;
$pad:992px;
$phone:640px;